<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Quiz App
            </h1>
            <h2 class="subtitle">
                Odpowiedz na wszystkie pytania. 
            </h2>
            <a class="button" [routerLink]="['/displayquestion']">Przejdź do quizu</a>
            <a class="button" [routerLink]="['displayallquestion']">Pokaż listę pytań</a>
            <a class="button" [routerLink]="['/addquestion']">Dodaj pytanie (admin)</a>    
        </div>
    </div>
</section>