<section class="section">
  
<h2>
  Dodaj nowe pytanie
</h2>

<form
  #newQuestionData = "ngForm"
  (ngSubmit)="onSubmit(newQuestionData.value)"
>
<label for="" class="label">Tytuł pytania</label>
<input type="text" name="title" ngModel>
<br>
<label for="" class="label">Odpowiedź 1</label>
<input type="text" name="firstAnswer" ngModel>

<br>
<label for="" class="label">Odpowiedź 2</label>
<input type="text" name="secondAnswer" ngModel>

<label for="" class="label">Odpowiedź 3</label>
<input type="text" name="thirdAnswer" ngModel>

<label for="" class="label">Odpowiedź 4</label>
<input type="text" name="fourthAnswer" ngModel>

<br>

<input class="button" type="submit" value="Wyślij"/>
</form>
</section>