<section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Quiz App
        </h1>
        <h2 class="subtitle">
          Odpowiedz na wszystkie pytania. 
        </h2>
      </div>
    </div>
  </section>
<div class="section">
  <div class="container">
    <base href="/">
    
    <router-outlet></router-outlet>
    
  </div>
</div>
<footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
         Author - Kamil Naja. Based on Angular5 & Bulma.css
        </p>
      </div>
    </div>
  </footer>